select.selectpicker {
   display: inline-block !important;
}

.size-st .bootstrap-select > .dropdown-toggle.btn-light {
  background: #010101;
  border: none;
  border-radius: 0px;
  color: #ffffff;
}
