

 <div class="container">
        <form formGroup="loginForm" >
          <h2 style="text-align: center;">REGISTER FORM</h2>
          <div class="form-group">
              <label for="name">userName</label>
              <input  id="name" type="text" class="form-control" formControlName="username">
          </div>

          <div class="from-group">
              <label for="name">password</label>
              <input id="password" type="text" class="form-control" formControlName="password" maxlength="8">
          </div>
          <button type="submit" class=" btn btn-primary my-2 ">submit</button>
        </form>

</div>

